body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
    display: block;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    padding: 1px;
    
    display: block;
    border: 2px solid black;
    border-radius: 1rem;
  }
  

  